<!DOCTYPE html>
<head>
<title>Welcome to Applaud!</title>
</head>
<body>

<h1>NEWSFEED</h1>

<form action="/formtest/" method="post" />
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

<ul>
{% for item in list %}
<li>[{{item.date}}] {{ item.title }}: {{item.subtitle}} -- {{item.body}}

<br />

<form action="/edit_newsfeed_item/" method="post" />
{% csrf_token %}
<input type="submit" value="{{item.id}}" />
<input type="submit" value="Edit" />
</form>

<br />

<form action="/delete_newsfeed_item/" method="post" />
{% csrf_token %}
<input type="submit" value="{{item.id}}" />
<input type="submit" value="Delete" />
</form>

</li>
{% endfor %}
</ul>

</body>
</html>
