{% extends "business.html" %}

{% block title %}
Employee Information
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawVisualization);


function drawVisualization(chartdata) {
  // Create and populate the data table.
    console.log(chartdata);  
  var data = google.visualization.arrayToDataTable(chartdata);

  // Create and draw the visualization.
  new google.visualization.ColumnChart(document.getElementById('visualization')).
      draw(data,
           {title:"Evaluations by Dimension",
            width:600, height:400,
            vAxis: {title: "Average Rating"},
            hAxis: {title: "Rating Category"}}
      );
}
</script>
<script type="text/javascript">

var chartdata;

$(document).ready( function(){
    console.log("Document.ready");
    get_chart_data([1,2],[2,1]);
});

var get_chart_data = function(employee_ids, rating_dimension_ids){

    var data = JSON.stringify({'employee_ids':[1,2],
			       'rating_categories':[3,4]});

    $.ajax({ url: "{% url business_get_analytics %}",
	     type: 'POST',
	     dataType: 'json',
	     data: {'data':data,
		    'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val()},
	     success: function(data){drawVisualization(data);},
	     //success: function(data){ console.log(data); },
	     error: function(a, b, c) { alert(a+"  "+b+"   "+c); }
    });
}

</script>
{% endblock %}
{% block content %}
{{ block.super }}
<h1>Employees of {{ business.business_name }}</h1>
<div id="visualization" style="width: 900px; height: 500px;"></div>

<form>
{% csrf_token %}
</form>

{% endblock%}
