{% extends "business.html" %}
{% block title %}Control Panel {% endblock %}
{% block links %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}control_panel.css" />
<link href="http://fonts.googleapis.com/css?family=The+Girl+Next+Door" rel="stylesheet" type="text/css">
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}control_panel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}business.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}employee.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}iphonepreview.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
  apatapa.business.control_panel.init_control_panel( {{ feeds|length }}, {{ employee_list|length }});
  });
</script>
{% endblock %}
{% block content %}

<!-- preview of what the iphone looks like when customizing -->
<input type="hidden" id="primary_color" value="{{ business_profile.primary_color }}" />
<input type="hidden" id="secondary_color" value="{{ business_profile.secondary_color }}" />
<!-- listitem heading title -->
<div id="iphone_preview">
  <div id="iphone_screen">
    <div class="navbar">
      <p id="iphone_title" class="iphone_title">{{ survey_list.0.title }}</p>
    </div>
    <div class="description">
      <p id="iphone_description" class="iphone_description">{{ survey_list.0.description }}</p>
    </div>
  </div>
</div>
<div id="control_panel">
  
  <div id="control_panel_heading" name="control_panel_heading">
    <h1>Control Panel</h1>
  </div>

  <ul id="control_panel_nav" name="control_panel_nav">
    <li id="home_button" class="home_link cp_nav_button selected"  name="home_button">Home</li>
    <li id="employee_button" class="employee_link cp_nav_button">Employees</li>
    <li id="newsfeed_button" class="newsfeed_link cp_nav_button">News Items</li>
    <li id="survey_button" class="survey_link cp_nav_button">Questions</li>
    <li id="photos_button" class="photos_link cp_nav_button">Photos</li>
  </ul>

  
  <div id="home_div" class="control_panel_div" name="home_div" >
    <div id="sticky">
      <p>Welcome to your control panel. Here, you can look at and edit the display of apatapa when a user is located on your premises. Use the above to navigate to the various features that you can customize.</p>
    </div>
  </div>

  <div id="control_panel_employees_div" class="control_panel_div" name="control_panel_employees_div">
    <h1>Employees</h1>

    <!-- The sub-navigation-links: first to view employees and assign rating profiles. Second to add employees (email or csv), the last to edit rating profiles. -->
    <div id="cp_employee_nav" name="cp_employee_nav" class="employee_nav_bar">
      <button id="view_employees_button" class="employees_nav_button">View Employees</button>
      <button id="add_employees_button" class="employees_nav_button">Add Employees</button>
      <button id="edit_rating_profiles_button" class="employees_nav_button">Edit Rating Profiles</button>
    </div>
    
    <div id="view_employees_div" class="employee_management">
	{% for e in employee_list %}
      <div class="cp_employee_div">
	<div id="cp_employee_row_{{ forloop.counter }}" class="cp_employee_row">
	  <h2>{{ e.user.first_name }}  {{ e.user.last_name }}</h2>
	  <div class="profileexpand">
	    <select value="{{ e.id }}">{% for rat_prof in rating_profile_list %}
	      <option {% ifequal rat_prof.id e.rating_profile.id %} selected="selected" {% endifequal %} value="{{ rat_prof.id }}">{{ rat_prof }}
	      </option>
	      {% endfor %}
	    </select>
	    <input type="hidden" value="{{ e.id }}"/>
	    <button id="employee_expand_button_{{ e.id }}" class="expand_employee_button" value="true">+</button>
	  </div>

	</div>
	<!-- This is the row that will be displayed with the standard employee div. -->
	<div id="employee_div_{{ e.id }}"  class="hidden extra_employee_row"> </div> 
      </div>
      {% endfor %}
    </div>
    <div id="add_employees_div" class="employee_management">

      <div id="employees_listing">
      </div>

      <form method="post" action="{% url business_new_employee %}" enctype="multipart/form-data" id="newemployeeform">
	<h2>Add Employees</h2>
	{% csrf_token %}
	<div id="emails_div" class="employee_info">
	  <label for="emails">Email List</label>
	  <input type="text" name="emails" >
	</div>
	<div id="csv_div" class="employee_info">
	  <label for="csv"> Upload .csv File </label>
	  <input type="file" name="csv" />
	</div>
	<input type="submit" value="Submit" />
      </form>
    </div>
    <div id="edit_rating_profiles_div" class="employee_management">
      <div class="content-title">
	<h2>Rating Profiles</h2>
      </div>
      <div id="profiles_listing">
      </div>
      <!-- new rating profile form -->
      <button type="button" class="ratingprofile_new_profile" id="new_ratingprofile_button">Add Profile</button>
      <div id="new_ratingprofile">
      </div>
      <button id="rating_profile_changes_button">Save Rating Profiles</button>
    </div>
  </div>
  <div id="control_panel_newsfeeds_div" name="control_panel_newsfeeds_div" class="control_panel_div">
    <h1>NEWSFEED</h1>
    <form id="newsfeed_form" name="newsfeed_form" action="{% url business_manage_newsfeed  %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <button type="button" id="add_newsfeed_button" name="add_newsfeed_button" class="add_newsfeed_button">Add Newsfeed Item</button>
      
      <!-- newsfeeds inserted here -->
      <div id="newsfeeds">
      </div>
      
      <!-- <button type="submit" id="save_newsfeed_button" name="save_newsfeed_button" class="save_newsfeed_button">Save Changes</button> -->
    </form>
  </div>
  <div id="control_panel_survey_div" name="control_panel_survey_div" class="control_panel_div">
    <h1>Questions</h1>
    {% if title_err %}
    <h2>{{ title_err }}</h2>
    {% endif %}
    {% if questions_err %}
    <h2>{{ dimensions_err }}</h2>
    {% endif %}
    
    <form action="" method="post" id="survey_form">
      <input type="hidden" value="{{ survey_id }}" id="survey_id" />
      {% csrf_token %}
      
      <div id="surveyinfo" name="surveyinfo">
	<div id="titlediv" name="titlediv" class="formfield">
	  <label for="title">Title</label>
	  <input type="text" id="survey_title" name="title" />
	</div>
	<div id="descriptiondiv" name="descriptiondiv" class="formfield">
	  <label for="description">Description</label>
	  <input type="text" id="survey_description" name="description" />
	</div>
	<div id="survey_questions_div">
	</div>
	<input type="submit" id="addquestion_button" value="Add Question" />
	<input type="submit" value="Create Survey" class="button" id="submit_button"/><br />
      </div>
    </form>
  </div>
  
  <div id="control_panel_photos_div" name="control_panel_photos_div" class="control_panel_div">
    <h1>Photos</h1>
    <p>Here you can see photos that your customers have taken in your location and uploaded to Apatapa.</p>
    <div id="photos">
      {% for photo in business_profile.businessphoto_set.all %}
      <div class="photo">
	<ul class="photo_tags">
	  {% for tag in photo.tags %}
	  <li>{{ tag }}</li>
	  {% endfor %}
	</ul>
	<span class="photo_votes">{{ photo.votes }}</span>
	<div class="photo_active_button {% if photo.active %}active{% endif %}" id="photo_{{ photo.id }}_active" name="{{ photo.id }}_active">{% if photo.active %}active{% else %}inactive{% endif %}</div>
	<img class="business_photo" src="photo.image.url" alt="{% if photo.tags.0 %}{{ photo.tags.0 }}{% else %}{{ business_profile.business_name }}{% endif %}" />
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
