{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}business.css" />
{% endblock %}

{% block title %}Business{% endblock %}

{% block content %}
Hello {{ business.user.username }}!

<!-- relevant functional links for business -->
<div id="business_links">
  <ul>
    <li><a href="{% url business_analytics %}">View Stats</a></li>
    <li><a href="{% url business_manage_employees %}">Manage Employees</a></li>
    <li><a href="{% url business_manage_newsfeed %}">Manage News Items</a></li>
    <li><a href="{% url business_manage_survey %}">Manage Interactions</a></li>
  </ul>
</div>
{% endblock %}
