{% extends "business.html" %}
{% block title %}My Profile{% endblock %}
{% block scripts %}
<script type="text/javascript" rel="javascript" src="{{ STATIC_URL }}business.js"></script>
<script type="text/javascript" rel="javascript" src="{{ STATIC_URL }}iphonepreview.js">
</script>
{% endblock %}
{% block content %}
<h1>{{ business.business_name }}</h1>
{% if business.logo %}
<img src="{{ business.logo.url }}" alt="logo" />
{% endif %}
<form name="logo" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Upload a logo! <input type="file" accept="image/*" name="logo_image" id="logo_image" /><br />
  Your primary colors (comma-separated!) <input type="text" name="primary_color" id="primary_color" value="{{ primary }}" onblur="apatapa.business.iphone.refreshPrimary();" /><br />
  Your secondary colors (likewise!) <input type="text" name="secondary_color" id="secondary_color" value="{{ secondary }}" onblur="apatapa.business.iphone.refreshSecondary();" /><br />
  <button type="submit" id="save_profile_button" name="save_profile_button">Save Changes</button>
</form>

<!-- preview of what the iphone looks like when customizing -->
<div id="iphone_preview">
<div id="iphone_screen">
  <div class="navbar">
    <p>Emacs?</p>
  </div>
  <div class="listitem">
    <span class="heading">
      heading
    </span>
    <span class="subtitle">
      subtitle
    </span>
  </div>
</div>
</div>
{% endblock %}
