{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}business.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" text="text/css" src="{{ STATIC_URL }}manage_employees.js"></script>
{% endblock %}

{% block title %}Business{% endblock %}

{% block navigation_links %}
<ul>
  <li><a href="{% url analytics %}">Stats</a></li>
  <li><a href="{% url business_manage_employees %}">Employees</a></li>
  <li><a href="{% url business_manage_newsfeed %}">News Items</a></li>
  <li><a href="{% url business_manage_survey %}">Questions</a></li>
</ul>
{% endblock %}
