{% extends "business.html" %}
{% block title %}
Employee Information
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ STATIC_URL }}business_stats.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}stats.js"></script>
{% endblock %}
{% block links %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}business_analytics.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}apatapa.css" />
{% endblock %}
{% block content %}
{{ block.super }}
<h1>Employee Analytics</h1>

<div id="nav_bar">

</div>

<div id="stats_choice_div">
  <div id="choice_nav_bar">
    <ul class="choice_list">  
      <li class="employee_link selected">Employees</li>
      <li class="survey_link">Survey</li>
    </ul>
  </div>
  <div id="employee_stats_choice_div" class="choice_div">
    <h3><a href="#">Employees</a></h3>
    <div>
      <div id="employees"></div>
    </div>
    <h3><a href="#">Dimensions</a></h3>
    <div>
      <div class="choice_div" id="employee_filters"></div>    
    </div>
  </div>
  <div id="survey_stats_choice_div" class="choice_div">
    <h3><a href="#">Question</a></h3>
    <div>
      <div id="survey"></div>
    </div>
    <h3><a href="#">Users</a></h3>
    <div>
      <div id="survey_filters"></div>
    </div>
  </div>
</div>
<div id="info">
  <div id="info_nav_bar">
    <ul class="choice_list">
      <li class="graph_link selected">Graph</li>
      <li class="table_link">Table</li>
    </ul>
  </div>  
  <div id="graph_div" class="data_view">
    <div id="employee_graph"></div>
  </div>
  <div id="table_div" class="data_view">
    <div id="employee_table"></div>
    <div id="survey_table"></div>
  </div>
  <div id="dateslider">
    <p id="dateslider_label"></p>
    <div id="gt_dateslider" name="dateslider"></div>
  </div>
</div>
{% endblock%}
