{% extends "user.html" %}
{% block title %}Welcome to Applaud!{% endblock %}
{% block content %}

<h1>EDIT USER PROFILE</h1>
Hello {{ user.username }}! Please tell us as much about yourself as you would like. 
<script type="text/javascript">
  $(document).ready( function() {
  $("#why").click( function() {
  alert("This information will be used so that we can provide you our features catered and relevant to you.");
});
});
</script>
<button id="why" style="font-size:10px;float:right;"> Why? </button>
<br />
<br />
<form action="/user/edit_user_profile/" method="post" />
{% csrf_token %}
<label for="first_name"> First name </label>
<input type="text" name="first_name" value="{{ user.first_name }}" />

<br />

<label for="last_name"> Last name </label>
<input type="text" name="last_name" value="{{ user.last_name }}"/>


<br />

Date of Birth (MM/DD/YYYY): <input type="text" name="date_of_birth" value="{{ dob }}"/>

<br />

Sex <input type="radio" name="sex" value="Male" {% if user.userprofile.sex == "Male" %} checked="checked" {% endif %} /> Male 
<input type="radio" name="sex" value="Female" {% if user.userprofile.sex == "Female" %} checked="checked" {% endif %} /> Female
<input type="radio" name="sex" value="Other" {% if user.userprofile.sex == "Other" %} checked="checked" {% endif %} />Other

<br/>
<input type="hidden" name="id" value="{{ id }}" />
<input type="submit" value="Submit" />
</form>
</body>
</html>
{% endblock %}
