{% extends "business.html" %}
{% block title %}Create Rating Profile{% endblock %}
{% block links %}
<link href="http://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
      var i = 0;
      
      function addDimension() {
      var form = document.getElementById('profile_form');
      var new_text_area = document.createElement('textarea');
      new_text_area.setAttribute('name', 'dimension_' + ++i);
      new_text_area.setAttribute('cols', '40');
      new_text_area.setAttribute('rows', '8');
      form.insertBefore(new_text_area, document.getElementById('submit_button'));
      form.insertBefore(document.createElement('br'), document.getElementById('submit_button'));
      }
    </script>
{% endblock %}
{% block content %}
    <h1>Create Rating Profile</h1>
    {% if title_err %}
    <h2>{{ title_err }}</h2>
    {% endif %}
    {% if questions_err %}
    <h2>{{ dimensions_err }}</h2>
    {% endif %}
    <form action="/create_rating_profile/" method="post" id="profile_form">
      {% csrf_token %}
      
      Title:
      <input type="text" name="title"/>
      <br />
      {% if dimensions %}
      {% for dimension in dimensions %}
      Dimension:
      <input type="text" name="dimension_{{ forloop.counter }}">{{ q }}<br />
      {% endfor %}
      {% else %}
      Dimension:
      <input type="text" name="dimension_0"><br />
      {% endif %}
      <input type="submit" value="Create Profile" class="button" id="submit_button"/><br />
    </form>
    <button onclick="addDimension();">add question</button>
    <ul>
    {% for item in list %}
    <li>{{item.title}}
      <ul>
	{% for d in item.dimensions %}
	<li>{{ d }}
	{% endfor %}
      </ul> 
    {% endfor %}
    </ul>
{% endblock %}
