{% extends "employee.html" %}
{% load i18n %}

{% block title %}Set up your Profile{% endblock %}

{% block content %}
{{ block.super }}
<form method="post" enctype="multipart/form-data" action="/employee/profile/">
  {% csrf_token %}
  {{ form.as_p }}

  <p>
    <label for="id_profile_picture">Profile picture</label>
  <a href="{{ MEDIA_URL }}{{ image }}" target="_blank">
    <img src="{{ MEDIA_URL }}{{ image }}" alt="{{ user.first_name }} {{ user.last_name }}" />
  </a>
  <input type="checkbox" name="profile_picture-clear" id="profile_picture-clear_id"/>
  <label for="profile_picture-clear_id">Clear</label>
  Change:
  <input type="file" name="profile_picture" id="id_profile_picture"/>
  </p>

  <input type="submit" value="{% trans 'Submit' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}



  
