{% extends "business.html" %}
{% block title %}Welcome to Applaud!{% endblock %}
{% block links %}{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
{{ block.super }}
<h1>EMPLOYEES</h>

<div id="employees_listing">
{% if employee_list|length > 0 %}
<ul>
{% for employee in employee_list %}
<li>{{employee.user.first_name}} {{ employee.user.last_name }}

<br />

<form action="/business/delete_employee" method="get" />
<input type="hidden" id="id_employee_id" value="{{employee.id}}" name="employee_id" />
<input type="submit" value="Delete" />
</form>

<br />

<!-- <form action="/edit_employee/" method="get" /> -->
<!-- <input type="hidden" value="{{employee.id}}" name="id" /> -->
<!-- <input type="submit" value="Edit" /> -->
<!-- </form> -->

{% endfor %}
</ul>

{% endif %}
</div>


<h2>Add Employees</h2>
<form action="{% url business_new_employee %}" method="post" />
{% csrf_token %}
<label for="emails">Employee emails</label>
<textarea id="id_emails" name="emails"></textarea>
<input type="submit" value="Submit" />
</form>

<hr />
<h2>Rating Profiles</h2>
{% if rating_profiles|length > 0 %}
<ul>
{% for profile in rating_profiles %}
<li>{{ profile.title }}
  <ul>
    {% for dim in profile.dimensions %}
    <li>{{ dim }}</li><!-- TODO: +/- buttons here, to remove/insert a dimension -->
    {% endfor %}
  </ul>
</li>
{% endfor %}
{% endif %}

{% endblock %}
