{% extends "employee.html" %}
{% block title %}Your Statistics{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawVisualization);


function drawVisualization( chartData ) {
  // Create and populate the data table.
  var data = google.visualization.arrayToDataTable(
      chartData
  );

  // Create and draw the visualization.
  new google.visualization.ColumnChart(document.getElementById('emp_graph')).
      draw(data,
           {title:"Evaluations by Dimension",
            width:600, height:400,
            hAxis: {title: "Dimension"},
            vAxis: {title: "Number of Ratings"}}
      );
}

$(document).ready( function() {
    $.ajax({url:"{% url employee_stats %}",
	    type:'POST',
	    data:{'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()},
	    success:function(data) {
		drawVisualization(data);
	    },
	    error:function(){alert("Something went wrong.");}});
});
</script>
{% endblock %}
{% block content %}

<div id="employee_welcome">
  <img src="{{ MEDIA_URL }}{{ image }}" id="employee_img" class="profilepicture" alt="{{ user.first_name }} {{ user.last_name }}" />
  <p>Hello, {{ employee.first_name }}! Let's see how you're doing.</p>
</div>

<div id="emp_graph"></div>
<form>
{% csrf_token %}
</form>

{% endblock %}
