<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontpage.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

  </head>
  <body>
    <!-- Modal Start -->
    <div class="modal hide" id="myModal">
      <div class="modal-body" id="video">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <iframe src="http://player.vimeo.com/video/19434428" width="800" height="450" align="center" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>	
    </div>
    <!-- Modal Stop -->

    <!-- Top Bar Start -->
    <div id="top-bar">
      

    </div>

    <!-- Top Bar Stop -->


    <div id="main">
      <img id="hand-image" src="/media/iphoneImageEdit.png" alt="iPhone" />
      
      <!-- Info Div Start -->
      <div id="info">          

        <div id="info-head">
          <img src="/media/Logo340.png" alt="Apatapa" />
          <h2>Connect with your environment</h2>
        </div>

        <div id="info-main" class="row">   
          <p>Lorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
          <div id="nav-buttons">
	        <a class="btn btn-large" data-toggle="modal" href="#myModal" id="videoButton" >Watch the Video</a>
	        <a class="btn btn-large" href="/accounts/login">Sign In</a>
	        <a class="btn btn-large" href="/accounts/member">Register</a>
          </div>
          <!-- <img src="/media/appStore.jpeg" id="appStore" width="160" height="60">       -->
        </div>

      </div>
      <!-- Info Div Stop -->

 
    </div>


    <!-- Bottom Bar Start -->
    <div id="bottom-bar">
      <div id="footer" class="row">
	&#169 Apatapa 2012  
	<a href="http://www.apatapablog.com">   | Blog |</a>
	<a href="/overview">Team |</a>
	<a href="mailto:wyatthayman@gmail.com">Contact | </a>
	<a href="/overview/#terms">Terms & Conditions | </a>
	<a href="/overview/#privacy">Privacy Policy</a>
      </div>
      

    </div>
    <!-- Bottom Bar Stop -->
    
  </body>
</html>


