{% extends "business.html" %}
{% block title %}Create survey{% endblock %}
{% block links %}
{% endblock %}
{% block scripts %}
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}manage_survey.js"></script>
{% endblock %}
{% block content %}
{{ block.super }}
<h1>Create Survey</h1>
<div id="survey_div">

{% if title_err %}
<h2>{{ title_err }}</h2>
{% endif %}
{% if questions_err %}
<h2>{{ dimensions_err }}</h2>
{% endif %}
<form action="" method="post" id="survey_form">
    <input type="hidden" value="{{ survey_id }}" id="survey_id" />
  {% csrf_token %}
  
  Title:
  <input type="text" id="survey_title" name="title" />
  Description:
  <input type="text" id="survey_description" name="description" />

  <input type="submit" value="Create Survey" class="button" id="submit_button"/><br />
  <input type="submit" id="addquestion_button" value="Add Question" />
</form>
</div>
{% endblock %}
