{% extends "business.html" %}
{% block title %}Welcome to Applaud!{% endblock %}
{% block links %}
{{ block.super }}
{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
{{ block.super }}
<h1>NEWSFEED</h1>

{% for item in list %}


{{ item.title }}<br />
{{ item.subtitle }} - {{ item.date }}<br />
<p>{{ item.body }}</p>

<form action="/business/delete_newsfeed_item/" method="get" />
<input type="hidden" value="{{ item.id }}" name="id" />
<input type="submit" value="Delete" />
</form>

<br />

<form action="/business/edit_newsfeed/" method="get" />
<input type="hidden" value="{{ item.id }}" name="id" />
<input type="submit" value="Edit" />
</form>

<br />

{% endfor %}

<a href="/business/newsfeed_create/">Add a new item!</a>

{% endblock %}
