{% extends "business.html" %}
{% block title %}Welcome to Apatapa!{% endblock %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}applaud.css" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}business.css" />
{% block scripts %}
{{ block.super }}
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
	apatapa.business.newsfeed.initNewsfeedPage({{ feeds|length }});
    });
</script>
{% endblock %}
{% block content %}

<h1>NEWSFEED</h1>

<div id="newsfeeds" name="newsfeeds" class="newsfeeds">
  <form id="newsfeed_form" name="newsfeed_form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="button" id="add_newsfeed_button" name="add_newsfeed_button" class="add_newsfeed_button">Add Newsfeed Item</button>
    {% for feed in feeds %}
    <div class="feed" id="feed_{{ forloop.counter0 }}" name="feed_{{ forloop.counter0 }}">
      <input type="hidden" value="false" class="should_delete" name="should_delete_{{ forloop.counter0 }}" id="should_delete_{{ forloop.counter0 }}" />
      <input type="hidden" value={{ feed.id }} name="feed_id_{{ forloop.counter0 }}" id="feed_id_{{ forloop.counter0 }}" />
      {% if feed.image %}<img src="{{ feed.image.url }}" class="nfimage" alt="{{ feed.title }}" />{% endif %}
      Title: <input type="text" id="title_{{ forloop.counter0 }}" name="title_{{ forloop.counter0 }}" value="{{ feed.title }}" /><br />
      Image: <input type="file" accept="image/*" class="image_input" name="nf_image_{{ forloop.counter0 }}" id="nf_image_{{ forloop.counter0 }}" />
      <p>{{ feed.date }} (last edited {{ feed.date_edited }})</p>
      Subtitle: <input type="text" id="subtitle_{{ forloop.counter0 }}" name="subtitle_{{ forloop.counter0 }}" value="{{ feed.subtitle }}" /><br />
      Body: <textarea name="body_{{ forloop.counter0 }}" id="body_{{ forloop.counter0 }}">{{ feed.body }}</textarea><br />
      <button type="button" class="nf_delete_button" id="feed_delete_button_{{ forloop.counter0 }}" name="feed_delete_button_{{ forloop.counter0 }}">Delete</button>
    </div>
    {% endfor %}
   
    <button type="submit" id="save_newsfeed_button" name="save_newsfeed_button" class="save_newsfeed_button">Save Changes</button>
  </form>
</div>
{% endblock %}
