{% extends "business.html" %}
{% block title %}Create survey{% endblock %}
{% block links %}
<link href="http://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
{% endblock %}
{% block scripts %}
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
	  // Set up buttons
	  $("#question_0_optionbutton").click(function() {
	      addOption(0);
	  });
	  $("#addquestion").click(function() {
	      addQuestion();
	  });
	  
	  // Keeps track of # of questions
	  var i = 0;

	  // Start off with question 0 has 1 option
	  var questionOptions = [1];
	  
	  function addQuestion() {
	      //Objects to instantiate:
	      //1.Question label
	      //2.Question type
	      //3.Option field (e.g. first entry of a radio button)
	      //4.Add option button
	      i++;
	      var questionDiv = $("<div></div>");
	      questionDiv.prop({'id':"question_"+i+"_div"});
	      questionDiv.prop({'class':"question"});
	      $("#submit_button").before(questionDiv);
	      
	      var questionAreaLabel = $("<label>Question #"+(i+1)+"</label>");
	      questionAreaLabel.prop({"for":"question_"+i});
	      
	      var questionArea = $("<textarea></textarea>");
	      questionArea.prop({'name':"question_"+i,
				 'id':"question_"+i,
				 'rows':'8',
				 'cols':'40'});

	      var questionTypeLabel = $("<label>Question type </label>");
	      questionTypeLabel.prop({"for":"question_"+i+"_type"});

	      var questionType = $("<select></select>");
	      questionType.prop({'name':"question_"+i+"_type",
				 'id':"question_"+i+"_type"});

	      questionType.append("<option value=\"TA\">textarea</option><option value=\"TF\">textfield</option><option value=\"RG\">radio group</option><option value=\"CG\">checkbox group</option>");
	      
	      // Create a new question bucket for storing # of options
	      
	      questionOptions.push(0);
	      
	      var optionDiv = $("<div></div>");
	      optionDiv.prop({'id':"question_"+i+"_options"});
	      

	      
	      var questionNumber = ""+i;
	      var addOptionButton = $("<button>Add Option</button>");
	      addOptionButton.prop({'type':"button",
				    'name':"question_"+i+"_optionbutton",
				    'id':"question_"+i+"_optionbutton"});
	      
	      addOptionButton.click(function() {
		  $("#question_"+questionNumber+"_options").append(addOption(questionNumber));
	      });

	      questionDiv
		  .append(questionArea)
                  .append("<br />")
		  .append(questionAreaLabel)
		  .append($("<br />"))
		  .append(questionTypeLabel)
		  .append(questionType)
		  .append($("<br />"))
		  .append(optionDiv)
		  .append($("<br />"))
		  .append(addOptionButton);

	      addOption(i);	      

	  }
	  
	  
	  function addOption(qindex) {
	      var questionOptionsDiv = $("#question_"+qindex+"_options");
	      
	      var optionFieldLabel = $("<label>Option "+(questionOptions[qindex]+1)+"</label>");
	      optionFieldLabel.prop({"for":"question_"+qindex+"_option_"+questionOptions[qindex]});

	      var optionField = $("<input type=\"text\" name=\"question_"+qindex+"_option_"+questionOptions[qindex]+"\" id=\"question_"+qindex+"_option_"+questionOptions[qindex]+"\"/><br />");
	      questionOptions[qindex]++;
	      questionOptionsDiv
		  .append(optionFieldLabel)
		  .append(optionField);
	  }
      });
    </script>
{% endblock %}
{% block content %}
    <h1>Create Survey</h1>
    {% if title_err %}
    <h2>{{ title_err }}</h2>
    {% endif %}
    {% if questions_err %}
    <h2>{{ dimensions_err }}</h2>
    {% endif %}
    <form action="/survey_create/" method="post" id="survey_form">
      {% csrf_token %}
      
      Title:
      <input type="text" name="title"/>
      <br />
      {% if questions %}
      {% for question in questions %}
      question label:
      <textarea name="question_{{ forloop.counter }}" cols="40" rows="8">{{ q }}</textarea>
      question type:
      <select name="question_{{ forloop.counter }}_type">
	<option value="ta">textarea</option>
	<option value="tf">textfield</option>
	<option value="rg">radio group</option>
	<option value="cg">checkbox group</option>
      </select>
      <div id="question_0_options">
	{% if question.options %}
	{% for option in question.options %}
	Option {{ forloop.counter }}:
	<input type="text" name="question_{{ forloop.parentloop.counter }}_option_{{ forloop.counter }}"/><br />
	{% endfor %}
	{% else %}
	Option 1:
	<input type="text" name="question_{{ forloop.parentloop.counter }}_option_0"/><br />
	{% endif %}
      </div>
      <button type="button" name="question_{{ forloop.counter }}_optionbutton" id="question_{{ forloop.counter }}_optionbutton">Add Option</button>
      {% endfor %}
      {% else %}
      Question #1:
      <br />
      <textarea name="question_0" cols="40" rows="8"></textarea>
      <br />
      Question type:
      <select name="question_0_type">
	<option value="TA">textarea</option>
	<option value="TF">textfield</option>
	<option value="RG">radio group</option>
	<option value="CG">checkbox group</option>
      </select>
      <br />
      <div id="question_0_options">
      Option 1:
      <input type="text" name="question_0_option_0"/><br />
      </div>
      <button type="button" name="question_0_optionbutton" id="question_0_optionbutton">Add Option</button>
      {% endif %}
      <input type="submit" value="Create Survey" class="button" id="submit_button"/><br />
    </form>
    <button id="addquestion">add question</button>
    <ul>


    <!-- {% for item in list %} -->
    <!-- <li>{{item.title}} -->
    <!--   <ul> -->
    <!-- 	{% for d in item.dimensions %} -->
    <!-- 	<li>{{ d }} -->
    <!-- 	{% endfor %} -->
    <!--   </ul>  -->
    <!-- {% endfor %} -->
    <!-- </ul> -->
    
{% endblock %}
