{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}applaud.css" />
{% endblock %}

{% block scripts %}
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script rel="javascript" type="text/javascript" src="{{ STATIC_URL }}user_analytics.js"></script>
{% endblock %}


{% block title %}User Landing{% endblock %}

{% block content %}
Hello {{ user.username }}!

<!-- functional links for end users -->
<div id="user_links">
  <ul>
    <li><a href="{% url edit_user_profile %}">Edit Your Profile</a></li>
  </ul>
</div>

<h1> My Previous Responses </h1>

<table border=1>
<div class="feedback">
 <h2>General Feedback</h2>
 {% for feed in feedback %}

<tr>
<td> {{ feed.business }} </td>
<td> {{ feed.date_created }} </td>
</tr>
 {% endfor %}
</div>

<div class="rating">
  <h2>My Ratings</h2>
  {% for r in rating %}
  <p>{{ r.employee.business }}
    {{ r.employee }}
    {{ r }}</p>
  {% endfor %}
</div>

<div class="responses">
  <h2>Responses to Questions</h2>
  {% for r in responses %}
  <p>{{ r.question.survey.business %}
    {{ r.question }}
    {{ r }}</p>
  {% endfor %}
</div>

{% endblock %}
