/* Being used for user analytics. Will swith to user.css page in a while */		
table, td, th {
    border:1px;
}
td
{
padding:1px;
text-align:center;
}

.visible {
    background-color: rgb(250, 200, 200);
}
.hidden {
    display:none;
    background-color: rgb(240,150,150);
}
.table_date {
    width:15%;
}
table{
    width:100%;}
