commands:
  01_syncdb:    
    command: "apatapa/manage.py syncdb --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:container:python:environment":
    DJANGO_SETTINGS_MODULE: "applaud.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "apatapa/applaud/wsgi.py"
