$border-grey: #e0e0e0;
$shadow-color: #aaa;

#employees li {
    padding-top: 25px; }

#nav_bar {
    display: block; }

#stats_choice_div {
    float: right;
    width: 330px;
    height: 550px;
}

#employee_stats_choice_div {
    h3 {
	border:2px solid $border-grey;
    }
}

#info {
    width: 615px;
    height: 590px;
    float: left;
    overflow:auto;
}

#graph_div {
    width:605px;
    margin-left:5px;
    border:none;
    margin-bottom:5px;
    -moz-box-shadow:0px 0px 8px $shadow-color;
    -webkit-box-shadow:0px 0px 8px $shadow-color;
    box-shadow:0px 0px 8px $shadow-color;
}

#gt_dateslider {
    width:575px;
    margin: {
	left:10px;
	top:5px;
    }
}

#survey_div {
    border: thin dotted gray; }

#employee_graph iframe {
    text-align: left;
    margin: 0px;
    padding: 0px; }

#employee_table {
    -moz-box-shadow:0px px 8px $shadow-color;
    -webkit-box-shadow:0px 0px 8px $shadow-color;
    box-shadow:0px 0px 8px $shadow-color;
}

#survey_table table, #employee_table table {
    width: 100%; }
#survey_table table th, #survey_table table td, #employee_table table th, #employee_table table td {
    padding-top: 7px;
    padding-bottom: 3px; }

//#choice_nav_bar {
//  float: right; }

#table_div {
    width:610px;
    margin-left:5px;
}

.selected {
    background-color: #646464; }

.odd {
    background-color: #FFFFFF; }

.even {
    background-color: #CCCCCC; }

.table_row {
    padding: 10px;
    height: 40px; }

.table_row span {
    display: inline-block; }

.first_row {
    background-color: #6666BB;
    font-weight: bold; }

#main {
    height:650px;
}

.choice_list {
    margin: {
	top:5px;
	bottom:4px;
    }
    padding: {
	left:25px;
	bottom:0px;
	top:5px;
    }
    li {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display:inline;
	border:2px solid;
	border-color:$border-grey;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$border-grey, endColorstr=#ffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$border-grey, endColorstr=#ffffff)";
	background: -webkit-linear-gradient(bottom, $border-grey, #ffffff);
	background:-moz-linear-gradient(90deg, $border-grey, #ffffff);
	padding:0 10px;
	cursor:pointer;
    }
    li.selected {
	background:#ffffff;
	border-bottom-color:#ffffff;
	z-index:1;
    }
}