/************
 * Variables
 */
$deletecolor: rgb(255,100,100);
$lightpink: rgb(255,235,250);
$browncolor: rgb(44,30,30);	// dark brown color for header/footer

/************
 * Styles that apply to all pages
 */
form {
    display:inline;
}

h3 {
    font-size:16pt;
    font-weight:bold;
    text-transform:uppercase;
    color:$browncolor;
}

strong {
    font-weight:bold;
}

#employees_listing li, #profiles_listing li ul li, .feed, .question {
    margin:5px;
    background-color:$lightpink;
    padding:5px;
}

.profile_image {
    width:64px;
    height:64px;
    vertical-align:middle;
}

/* iphone preview */
#iphone_preview {
    background-image:url('/static/iphoneTemplate.png');
    width:362px;
    height:710px;
    float:right;
    font-family:"Helvetica", sans-serif;

    #iphone_screen {
	position:relative;
	left:21px;
	top:135px;
	background-color:cyan;
	width:320px;
	height:411px;
	overflow:hidden;

	.navbar {
	    position:relative;
	    left:0px;
	    top:0px;
	    text-align:center;
	    height:44px;
	    background-color:orange;
	    p {
		font-size:20px;
		font-weight:bold;
		color:#ffffff;
		position:relative;
		top:12px;
	    }
	}
	.listitem {
	    height:44px;
	    width:100%;
	    display:block;
	    border: {
		top:1px solid #e0e0e0;
	    }
	    .heading{
		position:relative;
		top:6px;
		left:10px;

		font-size:18px;
		font-weight:bold;
		display:block;
	    }
	    .subtitle {
		position:relative;
		top:10px;
		left:10px;
		color:rgb(125,125,125);
		font-size:14px;
	    }
	}
    }
}

/************
 * Newsfeed
 */
.feed {
    padding:10px;
    input {
	margin:10px auto;
    }
    .nf_delete_button {
	margin-top: 10px;
	background-color:$deletecolor;
    }
    /* The date paragraph. */
    p {
	margin:5px auto;
    }
    /* Textareas look better when they match text field inputs. */
    textarea {
	font-family:'Lucida Grande';
	font-size:11px;
    }
    .nfimage {
	float:right;
    }
    .nftitle {
	font-weight:bold;
    }
}


.question_optionlist {
    padding-top:10px;

    label {
	padding-right:5px;
    }

    .question_item {
	padding: {
	    left:20px;
	    top:5px;
	}
    }
}

/************
 * Employee management
 */
/* #newemployeeform { */
/*     margin: { */
/* 	top: 30px; */
/* 	bottom: 30px; */
/*     } */
/*     display:block; */
/* } */

/* .profile_title { */
/*     margin-right: 15px; */
/*     display: inline; */
/* } */

/* .employee_name { */
/*     padding-left:10px; */
/* } */

/* .del_emp_button { */
/*     background-color:$deletecolor; */
/*     margin-left:10px; */
/* } */
