#control_panel {
  width: 550px; }

#control_panel_nav {
  background-color: #333333; }

.control_panel_div {
  height: 600px; }

#manage_employees #newemployeeform {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block; }
#manage_employees .profile_title {
  margin-right: 15px;
  display: inline; }
#manage_employees .employee_name {
  padding-left: 10px; }
#manage_employees .del_emp_button {
  background-color: #ff6464;
  margin-left: 10px; }

#iphone_preview {
  background-image: url("/static/iphoneTemplate.png");
  width: 362px;
  height: 710px;
  float: right;
  font-family: "Helvetica", sans-serif; }
  #iphone_preview #iphone_screen {
    position: relative;
    left: 21px;
    top: 135px;
    background-color: cyan;
    width: 320px;
    height: 411px;
    overflow: hidden; }
    #iphone_preview #iphone_screen .navbar {
      position: relative;
      left: 0px;
      top: 0px;
      text-align: center;
      height: 44px;
      background-color: orange; }
      #iphone_preview #iphone_screen .navbar p {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        position: relative;
        top: 12px; }
    #iphone_preview #iphone_screen .listitem {
      width: 100%;
      height: 44px;
      display: block;
      border-top: 1px solid #e0e0e0; }
      #iphone_preview #iphone_screen .listitem .heading {
        position: relative;
        top: 6px;
        left: 10px;
        font-size: 18px;
        font-weight: bold;
        display: block; }
      #iphone_preview #iphone_screen .listitem .subtitle {
        position: relative;
        top: 10px;
        left: 10px;
        color: #7d7d7d;
        font-size: 14px; }
