#control_panel {
  width: 550px; }

#control_panel_nav {
  background-color: #333333; }

.control_panel_div {
  height: 600px; }

#manage_employees #newemployeeform {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block; }
#manage_employees .profile_title {
  margin-right: 15px;
  display: inline; }
#manage_employees .employee_name {
  padding-left: 10px; }
#manage_employees .del_emp_button {
  background-color: #ff6464;
  margin-left: 10px; }

#iphone_preview {
  margin-right: 15px; }
