@import 'apatapa.scss';

$margin:20px;

#login {
    position:absolute;
    left:50%;
    top:50%;
}

#login-box {
    width:400px;
    height:255px;
    background-image: url("/media/background.png");
    position:relative;
    left:-50%;
    bottom:100px;
    padding-bottom:8px;
    @include shadow(4px, #999);
    border-style:solid;
    border-width:1px;
    border-color: #ccc;
    border-radius:6px;

}

#login-header{
    font-size:150%;
    margin-bottom:15px;
    padding-top:7px;
    padding-bottom:3px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    margin-left:($margin - 5);
    margin-right:$margin;
}

#login-main{
    margin-left:$margin;
    margin-right:$margin;
}

#login-form {
    p {
        min-height:40px;
    }
    label, input {
        display:inline;
    }
    label {
        position:relative;
        top:6px;
        font-size: 115%;
        font-weight:bold;
    }

    .btn {
        float: right;
        border-color: #777;
        border-radius:5px;
        font-weight:bold;
    }

    input {
        float:right;
        border-color:#bbb;
        border-width:1px;
        border-radius:3px;        
    }
    margin-bottom:35px;
}

#login-extra {
    font-size: 120%;
    line-height:150%;
}