<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load i18n %}
<head>
  <title>{% block title %}Apatapa{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/applaud.css" />
  {% block links %}
  {% endblock %}
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
  {% block scripts %}
  {% endblock %}
</head>
<body>
  <div id="navigation">
    {% block navigation %}
    <a href="{% url home %}">{% trans "Home" %}</a> |
    {% if user.is_authenticated %}
    ({% trans "Logged in" %}: {{ user.username }}) |
    {% if user.userprofile %}
    <a href="/user/">{% trans "My Profile" %}</a> |
    {% endif %}
    {% if user.employeeprofile %}
    <a href="/employee/">{% trans "My Profile" %}</a> |
    {% endif %}
    {% if user.businessprofile %}
    <a href="/business/">{% trans "My Profile" %}</a> |
    {% endif %}
    <a href="{% url auth_logout %}">{% trans "Log out" %}</a> |
    <a href="{% url auth_password_change %}">{% trans "Change password" %}</a>
    {% else %}
    <a href="{% url auth_login %}">{% trans "Log in" %}</a>
    {% endif %}
    {% endblock %}
  </div>
  {% block content %}
  
  {% endblock %}
</body>
</html>
