<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  {% load i18n %}
  <head>
    <title>{% block title %}Apatapa{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}apatapa.css" />
    {% block links %}
    {% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}apatapa.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}functions.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" >
      /**
      * URLS
      */
      // Business managing employee URLs.
      var manage_employees_url = "{% url business_manage_employees %}";
      var delete_employee_url = "{% url business_delete_employee %}";
      var list_employees_url = "{% url business_list_employees %}";

      // Employee URLs
      var employee_stats_url = "{% url employee_stats %}";
      var employee_list_employee_url = "{% url employee_list_employee %}";

      // Rating profile URLs.
      var manage_ratingprofiles_url = "{% url business_manage_ratingprofiles %}";
      var new_ratingprofile_url = "{% url business_new_ratingprofile %}";
      var list_ratingprofiles_url = "{% url business_list_ratingprofiles %}";
      var change_ratingprofiles_url = "{% url business_update_ratingprofiles %}";

      // Survey URLs.
      var manage_survey_url = "{% url business_manage_survey %}";

      // Newsfeed URLs.
      var list_newsfeed_url = "{% url business_newsfeed_list %}";
      var manage_newsfeed_url = "{% url business_manage_newsfeed %}";

      // Control Panel URL
      var control_panel_home = "{% url business_control_panel %}"
      var get_employee_info_url = "{% url business_get_employee_info %}"
      var toggle_photo_url = "{% url business_toggle_photo %}"

      //Business Analytics URL
      var business_stats_url ="{% url business_stats %}"
      var business_list_employee_url = "{% url business_list_employee %}"

      // Messages URL
      var messages_url = "{% url messages %}"
      var get_inbox_url = "{% url get_inbox %}"
      var send_message_url = "{% url send_message %}"
    </script>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <div id="content">
      
      {% block navbar %}
      <div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container-fluid">
	    <a class="brand" href="{% url home %}">Apatapa</a>
	    <div class="nav-collapse">
	      <ul class="nav">
		{% block navigation %}		
		{% if user.is_authenticated %}
		{% if user.businessprofile %}
		<li class="divider-vertical"></li>
		<li><a href="{% url analytics %}">Stats</a></li>
		<li class="divider-vertical"></li>
		<li id="control-panel-nav"><a href="{% url business_control_panel %}">Control Panel</a></li>
		<li class="divider-vertical"></li>
		<li><a href="/messages">Messages</a></li>
		<li class="divider-vertical"></li>
		{% endif %}
		{% endif %}
	      </ul>
	    </div>
	    {% endblock %}
	    {% if user.is_authenticated %}
	    <div class="btn-group pull-right">

	      <button id="logout" class="btn btn-inverse dropdown-toggle" href="#" data-toggle="dropdown">
		{{ user.first_name }} {{ user.last_name }}
		<span class="caret"></span>
	      </button>

	      <ul class="dropdown-menu">
		<li><a href="#">Profile</a></li>
		<li class="divider"></li>
		<li><a href="{% url auth_logout %}">Log out</a></li>
	      </ul>
	    </div>
	    {% endif %}
	  </div>
	</div>
      </div>
      {% endblock %}

      <div id="overview">
	{% block overview %}
	{% endblock %}
      </div>
      
      
      <div id="messages">
	{% if messages %}
	<ul class="messages">
	  {% for message in messages %}
	  <li{% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
      </div>
      
      
      <div id="extra-content">
	{% block header %}
	{% endblock %}
      </div>
      
      <div id="main">
	{% block content %}
	{% endblock %}
      </div>
    </div>


    
    {% block footer %}
    <div id="footer" class="footer">
      &#169 Apatapa 2012    
      <a href="http://www.apatapablog.com">Blog |</a>
      <a href="/overview/#about">About |</a>
      <a href="/overview/#terms">Terms & Conditions | </a>
      <a href="/overview/#privacy">Privacy Policy | </a>
      <a href="mailto:wyatthayman@gmail.com">Contact</a>
    </div>
    {% endblock %}
    
  </body>
</html>
