<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load i18n %}
<head>
  <link href="http://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet" type="text/css">
  <title>{% block title %}Apatapa{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/applaud.css" />
  {% block links %}
  {% endblock %}
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
  <script type="text/javascript" >
/**
 * URLS
 */
// Employee URLs.
var manage_employees_url = "{% url business_manage_employees %}";
var delete_employee_url = "{% url business_delete_employee %}";

// Rating profile URLs.
var manage_ratingprofiles_url = "{% url business_manage_ratingprofiles %}";
var new_ratingprofile_url = "{% url business_new_ratingprofile %}";
var list_ratingprofiles_url = "{% url business_list_ratingprofiles %}";

// Survey URLs.
var manage_survey_url = "{% url business_manage_survey %}";

// Newsfeed URLs.
var list_newsfeed_url = "{% url business_newsfeed_list %}";
var manage_newsfeed_url = "{% url business_manage_newsfeed %}";

/**
 * UTIL
 */
function escapeHTML( str ) {
    console.log("Escaping string: "+str);
    var temp = $('<pre></pre>');
    temp.text(str);
    var escaped = temp.html();
    console.log("Escaped version: "+escaped);
    return escaped;
}
  </script>
  {% block scripts %}
  {% endblock %}
</head>
<body>
  <div id="navigation">
    {% block navigation %}
    <a href="{% url home %}">{% trans "Apatapa" %}</a> |
    {% if user.is_authenticated %}
    ({% trans "Logged in" %}: {{ user.username }}) |
    {% if user.userprofile %}
    <a href="{% url user_home %}">{% trans "Home" %}</a> |
    {% endif %}
    {% if user.employeeprofile %}
    <a href="{% url employee_home %}">{% trans "Home" %}</a> |
    {% endif %}
    {% if user.businessprofile %}
    <a href="{% url business_home %}">{% trans "Home" %}</a> |
    {% endif %}
    <a href="{% url auth_logout %}">{% trans "Log out" %}</a> |
    <a href="{% url auth_password_change %}">{% trans "Change password" %}</a>
    {% else %}
    <a href="{% url auth_login %}">{% trans "Log in" %}</a>
    {% endif %}
    {% endblock %}
  </div>
  {% block content %}
  
  {% endblock %}
</body>
</html>
