{% extends "base_registration.html" %}
{% load i18n %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}register.css" />
{% endblock %}

{% block content %}
<h2>I want to register as</h2>
<div id="register_as_business">
  <a href="{% url registration_register_business %}">Business</a>
  <p><emph>Apatapa</emph> helps businesses open up a communication channel with their customers.</p>
</div>
<div id="register_as_user">
  <a href="{% url registration_register_user %}">Member</a>
  <p>Members can log-in with their mobile device to communicate with the managers of their favorite places and have an impact on the world around them.</p>
</div>
{% endblock %}
