<!DOCTYPE html>
<html>
  <head>
    <title>Apatapa</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontpage.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}apatapa.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}frontpage.js"></script>
    <script type="text/javascript">
      $(document).ready( function(){
          frontPage.bindForm();
          frontPage.bindClearErrorHandlers();
          frontPage.initPage();
      });
    </script>
  </head>
  <body>


    <!-- Top Bar Start -->
    <div id="top-bar">
      <div id="top-bar-content">
        <img src="{{ STATIC_URL }}Logo340.png" alt="Apatapa" />
        <img src="{{ STATIC_URL }}divider.png" alt="divider" />
        <!-- <a class="btn btn-large" id="video-button" ><i class="icon-play"></i> Watch the Video</a> -->
	    <!-- <a class="btn btn-large" id="features-button" href="#">Features</a> -->
	    <a class="btn btn-large" id="overview-button" href="/overview/#about">About</a>
        <img src="{{ STATIC_URL }}divider.png" alt="divider" />

        <a class="btn btn-large btn-primary" id="sign-in" href="/accounts/login">Sign In</a>        
      </div>
    </div>
    <!-- Top Bar Stop -->
    


    <div id="main">

      <img class="style-image" id="style-1-image" src="{{ STATIC_URL }}TheSecondOne2.JPG" />
      <img class="style-image" id="style-2-image" src="{{ STATIC_URL }}TheThirdOne.JPG" />    
      <img class="style-image" id="style-3-image" src="{{ STATIC_URL }}TheOne.JPG" />

      <a id="carousel-left" class="carousel-control left features-display" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a id="carousel-right" class="carousel-control right features-display" href="#myCarousel" data-slide="next">&rsaquo;</a>
    
      <!-- Info Div Start -->
      <div id="info">          

        <!-- Info Features Start -->
        <div id="features-info">

          <div class="feature" id="feature-1">
            <div class="feature-text">
              <h2>Ditch the comment card</h2>
              <p>Offer feedback in real-time, directly to the business you're currently visiting. Had a great experience, have a suggestion, or just want to vent? Use Apatapa to say it directly to the business.</p>
            </div>

          </div>

          <div class="feature" id="feature-2">
            <div class="feature-text">
              <h2>Learn from your customers</h2>
              <p>As a business, Apatapa arms you with all the opinions of the people who really matter - your customers. Use our web service to access data in real-time, understand the suggestions and improve your product!</p>
            </div>
          </div>

          <div class="feature" id="feature-3">
            <div class="feature-text">
              <h2>Engage with your business</h2>
              <p>If you're in your favorite establishment , find out about deals and upcoming events, share your opinions, converse and engage directly with the business. All through Apatapa!</p>
            </div>
          </div>

          <!-- Registration Start -->
          <div class="registration" id="registration-1">
            <h2>Sign up to receive more information!</h2>
            <form id="registration-form">
              <fieldset>
                <!-- User Select Group -->
                <div id="user-control-group" class="control-group radio-control-group">
                  <label class="radio inline">
                    <input type="radio" name="user-type" value="user" />
                    Customer
                  </label>

                  <label class="radio inline">
                    <input type="radio" name="user-type" value="business" />
                    Business Owner
                  </label>
                </div>
                <!-- End User Select Group -->

                <!-- Email Group -->
                <div id="email-control-group" class="control-group">
                  <div class="controls">
                    <input class="input-xlarge" type="text" value="Email" name="email"/>
                    <span id="email-status-image"></span>
                  </div>
                </div>
                <!-- End Email Group -->
                
                
                <div id="form-error">
                  <ul>
                  </ul>
                </div>
                
                <button id="register-button" class="btn btn-primary btn-large" type="submit">Sign Up</button>
                
              </fieldset>
            </form>
          </div>
          <!-- Registration Stop -->

        </div>
        <!-- Info Features Stop -->
        
      </div>
      <!-- Info Div Stop --> 

      </div>
      <!-- Main Stop -->

      <!-- Bottom Bar Start -->
      <div id="bottom-bar">
        <div id="footer" class="row">
	      &#169 Apatapa 2012  
	      <a href="/overview/#team">Team |</a>
	      <a href="mailto:apatapa@apatapa.com">Contact | </a>
	      <a href="/overview/#terms">Terms & Conditions | </a>
	      <a href="/overview/#privacy">Privacy Policy</a>
        </div>
      </div>
      <!-- Bottom Bar Stop -->
      
  </body>
</html>


