/******************************
 * -----   CSS RESET   -----  *
 ******************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/******************************
 * ---- END CSS RESET  -----  *
 ******************************/

/******** variables ********/
$pagefont: 'Arvo', serif;	// most page fonts
$contentwidth: 1000px;		// width of main content div
$logocolor: rgb(110,155,255);	// color of logo
$titlecolor: rgb(80,2,120);	// color of sub-section titles
$browncolor: rgb(44,30,30);	// dark brown color for header/footer
$lightbrowncolor: rgb(55, 50, 50); // lighter brown for gradient
$lightpink: rgb(255,235,250);	// light color for minor elements
$footerspacing: 7px;		// padding on footer
$footerheight: 15px;		// height of footer region
$mainpadding: 15px;		// padding for main content
/***************************/
@mixin shadow($size, $color:#ccc, $xoffset:0px, $yoffset:0px) {
    -moz-box-shadow:$xoffset $yoffset $size $color;
    -webkit-box-shadow:$xoffset $yoffset $size $color;
    box-shadow:$xoffset $yoffset $size $color;

}



/* styles that apply to the whole page */
html, body {
    font-family: 'Arvo', serif;
    background-image:url('/static/SmallTile.png');
    height:100%;
    margin:auto;
}

/* main content style */
#content {
    width: $contentwidth;
    min-height:100%;
    margin: {
	left: auto;
	right: auto;
    }
}

/* very top and bottom caps */
#header, #footer, #extra-content {
    color:rgb(255,255,255);
    background-color:$browncolor;
}

#extra-extra-content{
    background: rgba(0, 0, 0, 0);
    background: rgb(0, 0, 0) transparent;
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


iframe{ 
    text-align:center;
    margin-left:100px;
    margin-right:100px;
    padding:15px;
}

#header {
    height:150px;
    background:-moz-linear-gradient(90deg, $browncolor, $lightbrowncolor);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$browncolor, endColorstr=$lightbrowncolor);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$browncolor, endColorstr=$lightbrowncolor)";
    background: -webkit-linear-gradient(bottom, $browncolor, $lightbrowncolor);
    @include shadow(8px);
    padding: {
	bottom:5px;
    }
    
}

#main {
    overflow:auto;
    padding-bottom:$footerheight;
    height:600px;
    background-color:#fff;
    @include shadow(3px);

    padding: $mainpadding;
}

/* very bottom div */
#footer {
    position:relative;
    width:$contentwidth - 2*$footerspacing;
    height:$footerheight;
    line-height:$footerheight;
    font-family: 'PT Sans Caption', sans-serif;
    font-size:10pt;

    margin: {
	left: auto;
	right: auto;
	top:-$footerheight + $mainpadding;
    }

    padding: {
    	left:$footerspacing;
    	right:$footerspacing;
    	top:$footerspacing;
    }
}

/* titles for main content divs */
.content-title {
    font-variant:small-caps;
    border-bottom:solid 1px $titlecolor;
    color: $titlecolor;
    margin-bottom:15px;

    margin-top: 5px;
    text-align:left;

    max-width:480px;

    h2 {
	font-size:20pt;
	margin-bottom:10px;
    }
}

/* "features" div */
#features {
    float:left;
    width:40%;
}

/* "partners" div */
#partners {
    float:right;
    width:50%;
}

/* the logo div */
#logo {
    position:relative;
    h1 {
	position:absolute;
	top:0px;
	left:0px;
	color: $logocolor;
	font-size: 36pt;
	padding: 15px;
    }
}

.logo_title {
    text-transform:lowercase;
}

#accountlinks {
    text-align:right;
    font-size:10pt;
    font-family:'Pt Sans Caption', sans-serif;
    padding: {
	right:10px;
	top:15px;
    }
    a {
	color:rgb(255,255,255);
	text-decoration:none;
    }
}

/* main links at the top */
#navigation {
    margin:10px;
    text-transform:uppercase;
    display:block;
    text-align:right;
    position:relative;
    top:60px;
    ul {
	margin:5px auto;
    }
    li {
	display: inline;
	padding: 5px;
    }
    a {
	color:rgb(255,255,255);
	text-decoration:none;
	&:hover {
	    text-decoration:underline;
	}
    }
}

#copyright {
    float:left;
}

#contact {
    float:right;
    a {
	text-decoration:none;
	color:rgb(255,255,255);
    }
}

h1, h3 {
    font-weight:bold;
    text-transform:uppercase;
    color:$browncolor;
}

h1 {
    font-size:24pt;
    margin:5px;
    padding-bottom:8px;
}

h3 {
    font-size:16pt;
}

.errorlist li {
    color:rgb(255,0,0);
    padding-bottom:10px;
}

/** forms that are prominent on the page.
    potentially the only thing on the page at all. **/
.centerform {
    float:left;
    margin: {
	left:auto;
	right:auto;
    }
    /* input { */
    /* 	text-align:right; */
    /* } */
    p {
	text-align:right;
	display:block;
	margin: {
	    top: 3px;
	    bottom: 3px
	}
    }
    background-color:$lightpink;
    display:block;
    max-width:600px;
    padding:20px;
}

.login_ {
    margin: {
	top:20px;
    }
}

#messages {
    margin: {
	left:10px;
    }
}

#overview_div {
    width:60%;
    padding:10px;
}