html, body {
    font-family:'Gentium Basic', serif;
    text-align:center;
    background-image:url('/static/wallpaper.jpg');
}

h1 {
    font-size:40px;
}

h2 {
    font-size:30px;
}

.question {
    margin:20px auto;
}

li {
    margin:20px auto;
/*    border-color:rgb(150,30,30);
    border-width:2px;
    border-style:solid;*/
}