/************
 * Variables
 */
/************
 * Styles that apply to all pages
 */
form {
  display: inline; }

h3 {
  font-size: 16pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #2c1e1e; }

strong {
  font-weight: bold; }

#employees_listing li, #profiles_listing li ul li, .feed, .question {
  margin: 5px;
  background-color: #ffebfa;
  padding: 5px; }

.profile_image {
  width: 64px;
  height: 64px;
  vertical-align: middle; }

/************
 * Newsfeed
 */
.feed {
  padding: 10px;
  /* The date paragraph. */
  /* Textareas look better when they match text field inputs. */ }
  .feed input {
    margin: 10px auto; }
  .feed .nf_delete_button {
    margin-top: 10px;
    background-color: #ff6464; }
  .feed p {
    margin: 5px auto; }
  .feed textarea {
    font-family: 'Lucida Grande';
    font-size: 11px; }
  .feed .nfimage {
    float: right; }

.question_optionlist {
  padding-top: 10px; }
  .question_optionlist label {
    padding-right: 5px; }
  .question_optionlist .question_item {
    padding-left: 20px;
    padding-top: 5px; }

/************
 * Employee management
 */
#newemployeeform {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block; }

.profile_title {
  margin-right: 15px;
  display: inline; }

.employee_name {
  padding-left: 10px; }

.del_emp_button {
  background-color: #ff6464;
  margin-left: 10px; }



/******
* Not sure if there are tables in any of the business related templates.
*/

strong {
  font-weight: bold; }

table, td, th {
border:1px solid black;
}

td {
padding:30px;
}
