{% extends "base_registration.html" %}
{% load i18n %}

{% block scripts %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCbw9_6Mokk_mKwnH02OYyB6t5MrepFV_E&sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}address_search.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}apatapa.js"></script>
{% endblock %}

{% block links %}
{{ block.super }}

{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
{{ block.super }}
<div id="registrationform">
  <form method="post" action=".">
    {% csrf_token %}
    
    <input type="hidden" id="prev-email" name="email" />
    <input type="hidden" id="prev-first" name="first" />
    <input type="hidden" id="prev-last" name="last" />
    <input type="hidden" id="prev-password" name="password" />

    <!-- Address Group -->
    <div id="address-control-group" class="control-group">
      <div class="controls">
        <input class="input-xlarge" type="text" value="Address" name="address"/>
      </div>
    </div>
    <!-- End Address Group -->

    <!-- City Group -->
    <div id="city-control-group" class="control-group">
      <div class="controls">
        <input class="input-xlarge" type="text" value="City" name="city"/>
      </div>
    </div>
    <!-- End City Group -->

    <!-- State Group -->
    <div id="state-control-group" class="control-group">
      <div class="controls">
        <input class="input-xlarge" type="text" value="State" name="state"/>
      </div>
    </div>
    <!-- End State Group -->

    <!-- Country Group -->
    <div id="country-control-group" class="control-group">
      <div class="controls">
        <input class="input-xlarge" type="text" value="Country" name="country"/>
      </div>
    </div>
    <!-- End Country Group -->



  </form>
</div>

<div id="business_search">
  <div class="searchform_element">
    <label for="business_addr_street">Street Address</label>
    <input type="text" id="business_addr_street" name="business_addr_street" >
  </div>

  <div class="searchform_element">
    <label for="business_addr_state">City</label>
    <input type="text" id="business_addr_city" name="business_addr_city">
  </div>

  <div class="searchform_element">
    <label for="business_addr_state">State/Province</label>
    <input type="text" id="business_addr_state" name="business_addr_state">
  </div>

  <div class="searchform_element">
    <label for="business_addr_country">Country</label>
    <input type="text" id="business_addr_country" name="business_addr_country">
  </div>

  <div class="searchform_element">
    <label for="business_addr_zip">ZIP</label>
    <input type="text" id="business_addr_zip" name="business_addr_zip">
  </div>

  <button type="button" id="search">Search</button>
  <div id="business_results">
    <!-- google results go here -->
  </div>
</div>

<p id="address_result"></p>

<div id="googlemap" style="width:0px;height:0px;"></div>
{% endblock %}
